# {{ ansible_managed }}

[client]
{%- set x = mariadb.cnf.client -%} 
{%- for k, v in x.items()  %} 
{{ k }} = {{ v }}
{%- endfor %}

# mysql settings
[mysqld]
{%- set x = mariadb.cnf.mysqld  -%} 
{%- for k, v in x.items()  %} 
{{ k }} = {{ v }}
{%- endfor %}

# set parameters for mysqldump
[mysqldump]
{%- set x = mariadb.cnf.mysqldump  -%} 
{%- for k, v in x.items()  %} 
{{ k }} = {{ v }}
{%- endfor %}
